@mixin monokai-block {
  --code-background: #272822;
  --code-normal: #f8f8f2;
  --code-comment: #929388;
  --code-function: #a6e22e;
  --code-important: #fd971f;
  --code-keyword: #ff4b8b;
  --code-operator: #f8f8f2;
  --code-punctuation: #f8f8f2;
  --code-property: #66d9ef;
  --code-string: #e6db74;
  --code-tag: #ff4b8b;
  --code-value: #ae81ff;
  --code-border-width: 1px;
  --code-border-color: #3e3d32;
  --code-radius: 6px;
  background-color: #272822;
  color: #f8f8f2;
}

body {
  --code-background: var(--aera-inline-code-background);
  --code-normal: var(--aera-inline-code-color);
  --code-white-space: pre;
  --code-size: .88em;
}

:where(.markdown-rendered pre:not(.frontmatter)) {
  @include monokai-block;
}

:where(.markdown-rendered pre:not(.frontmatter)) code[class*="language-"] {
  white-space: pre;
}

:where(.markdown-source-view.mod-cm6 .HyperMD-codeblock) {
  @include monokai-block;
}

.markdown-source-view.mod-cm6 :where(.HyperMD-codeblock) {
  white-space: pre;
  word-break: normal;
  overflow-wrap: normal;
  width: auto;
  min-width: 0;
  overflow-x: auto;
  overflow-y: hidden;
}
