body {
  --blockquote-background-color: transparent;
  --blockquote-border-thickness: 2px;
  --blockquote-border-color: var(--text-accent);
  --blockquote-font-style: normal;
  --blockquote-color: var(--text-muted);
  --hr-color: var(--background-modifier-border);
  --hr-thickness: 1px;
}
