body {
  --callout-border-width: 1px;
  --callout-border-opacity: 0.25;
  --callout-radius: 6px;
  --callout-blend-mode: normal;
  --callout-title-size: var(--font-small);
  --callout-title-weight: 600;
  --callout-content-background: transparent;
}
