body {
  --embed-background: transparent;
  --embed-border-start: 2px solid var(--background-modifier-border);
  --embed-border-end: 0;
  --embed-border-top: 0;
  --embed-border-bottom: 0;
  --embed-font-style: normal;
  --footnote-size: var(--font-smallest);
}
